name: CI

on:
  schedule:
    # At every 17th minute past every 9th hour.
    - cron: "*/17 */9 * * *"
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  test:
    name: Tests on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
      - uses: goto-bus-stop/setup-zig@v2
      - uses: Hanaasagi/zig-action-cache@master
        with:
          cache-on-failure: true
      - run: zig version
      - run: zig env
      - name: Build
        run: zig build --verbose
      - name: Run Tests
        run: zig build test
      - name: Run Fuzz Tests
        run: (cd ./fuzz && bash setup.sh && python gen.py) && zig build run-fuzz
